
<div class="p-6 max-w-7xl mx-auto">
  <div *ngFor="let crypto of cryptoData" class="flex gap-6 bg-white shadow-lg rounded-lg p-4">
    <p class="text-gray-600"><b>Symbol:</b> {{ crypto.symbol }}</p>
    <p class="text-gray-600"><b>Current Price:</b> ${{ crypto.quotePrice }}</p>
  </div>

  <div #graphDiv class="items-center w-full">
    <h2 class="font-bold text-base text-center">Future Crypto Graph - press <b>space</b> key to {{lastOperation}} in 3 steps</h2>
    <h2 *ngIf="countOps > 0" class="font-bold text-base text-center">{{lastOperation}} in {{countOps}} steps</h2>
    <ngx-charts-line-chart
      [view]="view"
      [results]="data"
      [scheme]="colorScheme"
      [autoScale]="true"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [gradient]="true">
    </ngx-charts-line-chart>
  </div>
</div>
