<div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-6 mt-10">
  <div class="overflow-x-auto text-xs lg:text-xl">
    <table class="min-w-full table-auto bg-white border border-gray-200">
      <thead>
      <tr class="bg-gray-100 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-1 lg:py-3 px-3 lg:px-6 text-left">Symbol</th>
        <th class="py-1 lg:py-3 px-3 lg:px-6 text-center">Quantity</th>
      </tr>
      </thead>
      <tbody class="text-gray-600 text-sm">
      <tr *ngFor="let stock of portfolio" class="border-b border-gray-200 hover:bg-gray-50">
        <td class="py-1 lg:py-3 px-3 lg:px-6 font-bold">{{ stock.symbol }}</td>
        <td class="py-1 lg:py-3 px-3 lg:px-6 text-center">{{ stock.quantity }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
