[mysqld]
datadir=/var/lib/mysql/storage

# Enable SSL
ssl-ca=/var/lib/mysql/certs/mysql-ca-cert.pem
ssl-cert=/var/lib/mysql/certs/mysql-cert.pem
ssl-key=/var/lib/mysql/certs/mysql-key.pem

# Require SSL for all connections
require_secure_transport = ON

# Optional: Log SSL-related errors for troubleshooting
log_error_verbosity = 3

max_connections = 200
innodb_buffer_pool_size = 512M
log_bin_trust_function_creators = 1
log_bin=1
general_log=1
log_error=1
long_query_time = 0
