[mysqld]
datadir=/mysql-data/storage

# Enable SSL
ssl-ca=/etc/mysql/certs/mysql-ca-cert.pem
ssl-cert=/etc/mysql/certs/mysql-cert.pem
ssl-key=/etc/mysql/certs/mysql-key.pem
# Require SSL for all connections
require_secure_transport = ON

# Optional: Log SSL-related errors for troubleshooting
log_error_verbosity = 3

max_connections = 200
innodb_buffer_pool_size = 512M

# Logging
general_log     =1
slow_query_log  =1
log_queries_not_using_indexes = 1
#long_query_time =2

log_error           = /mysql-data/logs/error.log
general_log_file    = /mysql-data/logs/general.log
slow_query_log_file = /mysql-data/logs/slow_query.log