<header class="bg-gray-800 text-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 lg:px-8 flex items-center justify-between h-12 lg:h-16">

    <div class="flex items-center space-x-4">
      <!-- Logo and App Name -->
      <div class="flex items-center space-x-4">
        <a href="javascript:void(0)" (click)="onHome()" class="flex items-center">
          <!-- Service indicator -->
          <app-indicator></app-indicator>
          <span class="text-xl lg:text-2xl font-semibold">Spring-Bit</span>
        </a>

        <a href="javascript:void(0)" (click)="onGame()" class="text-base lg:text-xl font-semibold text-white px-4 py-2 rounded-lg hover:text-green hover:bg-green-600 transition">
          Crypto Game
        </a>

        <a href="javascript:void(0)" (click)="onInfo()" class="text-base lg:text-xl font-semibold text-white px-4 py-2 rounded-lg hover:text-green hover:bg-green-600 transition">
          Crypto Info
        </a>
      </div>


    </div>

    <!-- User details -->
    <div>
      <app-user-details></app-user-details>
    </div>

  </div>
</header>
