<header class="bg-gray-800 text-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex items-center justify-between h-16">

    <div class="flex items-center space-x-4">
      <!-- Logo and App Name -->
      <div class="flex items-center">
        <img ngSrc="assets/spring-bit.png" alt="Spring-Bit Logo" class="h-10 w-10 mr-3" height="1024" width="1024">
        <span class="text-2xl font-semibold">Spring-Bit Crypto</span>
      </div>

      <!-- Service indicator -->
      <div>
        <app-indicator></app-indicator>
      </div>
    </div>

    <!-- User details -->
    <div>
      <app-user-details></app-user-details>
    </div>

  </div>
</header>
